/* font styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500&family=Work+Sans&display=swap");

/* utility */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.button-primary {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: #e02c6d;
  border: none;
}
/* header and nav section  */
/* nav style  */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 87px 120px 0;
  color: #3a3a3a;
}
.nav-title {
  font-weight: 700;
  font-size: 24px;
}
.nav-options {
  display: flex;
  gap: 34px;
}
.nav-options a {
  text-decoration: none;
}
.nav-option {
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
}
/* header section style  */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 133px;
  margin: 80px 132px 100px 120px;
}
.header-img {
  background-image: url(/images/Circle\ design.svg);
}
.header-title {
  font-weight: 700;
  font-size: 52px;
  color: #3a3a3a;
}
.header-description {
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
  margin: 16px 0;
}
/* main section */
/* company Logos style  */
section {
  margin-bottom: 100px;
}
.company-logos {
  display: flex;
  justify-content: space-evenly;
  margin-left: 165px;
  margin-right: 165px;
}
/* popular collection section  */
.popular-collection {
  margin-left: 165px;
  margin-right: 165px;
}
.popular-collection-title {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  color: #3a3a3a;
}
.article-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-items: center;
}
article {
  box-shadow: 0px 0px 40px #00000026;
  padding: 17px 15px;
}

/* featured product section style  */

.featured-product {
  display: flex;
  justify-content: center;
  gap: 96px;
  align-items: center;
  margin-left: 165px;
  margin-right: 165px;
}
.featured-title {
  font-weight: 700;
  font-size: 38px;
  color: #0a0826;
}
.featured-description {
  font-weight: 700;
  font-size: 16px;
  color: #6c6c6c;
  margin: 16px 0;
}

/* footer section style  */
footer{
  background: #0a0826;
}
.footer-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
.footer-title {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}
.footer-description{
  font-weight: 700;
font-size: 14px;
color: #D9DBE1;
margin-top: 3px;
}
.footer-logos{
  margin-top: 17px;
}
.footer-logos a{
  text-decoration: none;
  color: white;
  font-size: 17px;
  margin: 0 8px;
}
